@charset "UTF-8";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("img/imgBackground.jpg");

    margin-left:10vw;
    margin-top:10vh;
    
    width: 80vw;
}

#form-title{
    font-size:2rem;
    text-align:center;

    border-radius: 15px 15px 0px 0px;
    
    padding:0.5vh 1vw 0.5vh 1vw;

    background-color: rgb(255, 251, 0);

}

form{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width:80vw;

    background-color: rgba(255, 255, 255, 0.548);

    border: 1px solid transparent;
    box-shadow: 2px 6px 10px black;
    border-radius:30px 3px 30px 3px;

    font-size:1.7rem;
}

/*Alterar nome do time*/
#div-nome-time{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width:80vw;

    padding: 1vh 3vw 1vh 3vw;
}

#input-nome-time{
    width: 50vw;
    height:5vh;
    align-items: center;
    margin-left:0.5vw;
    margin-right: 0.5vw;
}

#div-nome-time button{
    width:10vw;
    height:5vh;
    font-size: 0.8rem;
    font-weight: bold;

    background-color:rgb(255, 230, 0);
    border-radius:2px;
    border:0px;
}

#div-nome-time button:hover{
    color:white;
    background-color:rgb(0, 95, 0);
    transition:1s;
}

/*Nome do jogador*/
#div-nome-jogador{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    border-top:1px solid rgb(161, 161, 161);
    width:80vw;
    
    padding: 1vh 3vw 1vh 3vw;
}

#input-nome-jogador{
    width:50vw;
    height:5vh;
}

/*posição do jogador e numero de camisa*/
#div-posicao-numero-camisa{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width:80vw;

    padding: 1vh 3vw 1vh 3vw;
}

#div-posicao, #div-numero-camisa{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-left: 1vw;
    margin-right: 1vw;
    
}

#posicao{
    width:15vw;
    height:5vh;
    margin-left:0.5vw;    
}

#div-numero-camisa input{
    width:5vw;
    height:5vh;
    margin-left:0.5vw;
    margin-right:0.5vw;
}

/*botoes*/
#div-botoes-apagar-escalar{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width:80vw;

    padding: 1vh 5vw 1vh 5vw;
}

#div-botoes-apagar-escalar button{
    width:30vw;
    height:8vh;
    font-size: 1rem;
    font-weight: bold;
}

#apagar-todos{
    background-color:rgb(255, 94, 0);
    border-radius:2px;
    border:0px;
}

#apagar-todos:hover{
    background-color:rgb(194, 17, 17);
    color:white;
    transition:1s;
}

#escalar-jogador{
    background-color:rgb(255, 230, 0);
    border-radius:2px;
    border:0px;
}

#escalar-jogador:hover{
    color:white;
    background-color:rgb(21, 145, 32);
    transition:1s;
}

/*===========
TABELA
=============*/
table{
    padding: 2vh 2vw 1vh 2vw;
    
    background-color: rgba(255, 255, 255, 0.678);

    border: 1px solid transparent;
    box-shadow: 2px 6px 10px black;
    border-radius:0px 0px 20px 20px;

    width:70vw;

    font-weight: bold;
    text-align:center;
}

#title-table{
    text-align:center;
    color:rgb(34, 34, 34);
    background-color: rgb(255, 238, 0);
}

#tr-cabecalho{
    color:white;  
    background-color: #ccc;
    color:rgb(34, 34, 34);
}
#th-camisa, #th-excluir{
    width:3vw;
}

/*icone de excluir - trash*/
.fa-trash:hover{
    transition: 1s;
    color:red;
}


/*hide e span*/
span{
    color:red;
    font-size:1.5rem;
    text-align:center;
}
.hide{
    display:none;
}

/*responsividade*/

@media (max-width:1040px) and (min-width:831px){

    span{
        font-size:1.2rem;
    }

    form{
        font-size:1.4rem;
    }
}

@media (max-width:830px) and (min-width:571px){

    span{
        font-size:1rem;
    }

    form{
        font-size:1.2rem;
    }
    
    #div-numero-camisa input{
        width:6vw;
    }
}

@media (max-width:570px){

    #div-nome-time button{
        width:14vw;
    }

    span{
        font-size:0.8rem;
    }

    form{
        font-size:1rem;
    }

    #posicao{
        width:19vw;
    
    }

    #div-numero-camisa input{
        width:8vw;
    }
}